<!-- Banner -->
<div class="overflow-hidden bg-black h-[100vh] before:block before:absolute before:top-0 before:left-0 before:z-10 before:opacity-30">
    <img src="../../../../assets/img/img_m1.jpg" class="absolute top-0 left-0 min-h-full object-cover w-full" alt="">
    <div class="relative z-20 max-w-screen-lg mx-auto grid grid-cols-12 h-full items-center">
        <div class="col-span-6 text-white">
            <span class="uppercase text-xs font-bold mb-2 block">Viste tu actitud</span>
            <h1 class="font-extrabold text-5xl mb-5">Somos moda juvenil que marca la diferencia</h1>
            <p class="text-stone-100 text-base">Explora, experimenta</p>
            <button class="mt-8 uppercase py-4 text-base font-light px-10 border border-white hover:bg-white hover:bg-opacity-10">
                Quiero Comprar
            </button>
        </div>
    </div>
</div>
