<app-header *ngIf="!isAuthRoute() && !isDashboardRoute()"   (openCartEvent)="toggleCart()"></app-header>


<router-outlet></router-outlet>

<div class="relative">
    <div *ngIf="isCartOpen" class="fixed right-0 top-0 max-w-xs w-full h-full px-6 py-4 transition duration-300 transform overflow-y-auto bg-white border-l-2 border-gray-300" style="z-index: 9999;">
        <app-addcart (closeCartEvent)="closeCart()"></app-addcart>
    </div>
</div>


<app-footer *ngIf="!isAuthRoute() && !isDashboardRoute()"></app-footer>